<!-- <section class="vh-100" style="background-color: black;">
    <div class="container py-5 h-100">

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-md-9 col-lg-7 col-xl-5 col-sm-12" *ngFor="let team of teams">
      <div class="card teamCard mb-3" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex text-black">
            <div class="flex-shrink-0">
              <img src="{{team.background_image}}"
                alt="Generic placeholder image" class="img-fluid"
                style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">{{team.gameTitle}}</h5>
              <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ team.teamName }}</p>
              <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                style="background-color: #efefef;">
                <div>
                  <p class="small text-muted mb-1">Joined</p>
                  <p class="mb-0">{{team.teamMembers.length}}</p>
                </div>
                <div class="px-3">
                  <p class="small text-muted mb-1">Needed</p>
                  <p class="mb-0">{{team.teamSize - team.teamMembers.length}}</p>
                </div>
                <div>
                  <p class="small text-muted mb-1">Leader</p>
                  <p class="mb-0">{{team.teamLeader.toUpperCase()}}</p>
                </div>
              </div>
              <div class="d-flex pt-1">
                 <button (click)="joinTeam()" type="button" class="btn btn-outline-primary me-1 flex-grow-1">Join</button>
                <button (click)="goToPage()" type="button" class="btn btn-primary flex-grow-1">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->



<!-- <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team Name</th>
      <th scope="col">Game</th>
      <th scope="col">Team Size</th>
      <th scope="col">Console</th>
      <th scope="col">Team Leader</th>
      <th scope="col">Current Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <a href="view-team/{{team.teamId}}">{{ team.teamName }}</a>
      </td>
      <td>{{ team.gameTitle}}</td>
      <td>{{ team.teamSize}}</td>
      <td>{{ team.console }}</td>
      <td>{{ team.teamLeader }}</td>
      <td>{{ team.teamMembers.length }}</td>
    </tr>
    </tbody>
  </table> -->
<div class="container">
    <div class="row">
        <div class="col-md-2 mb30"></div>
        <div class="col-md-8 mb30">
            <div class="card">
                <div id="tabs" #tabs>

                <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                        <a class="nav-link active" href="#all" [ngClass]="{ 'active':activeTab==='all'}" (click)="toggleAll('all', $event)"
                            data-toggle="tab">All Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ps" [ngClass]="{ 'active':activeTab==='ps'}"
                            (click)="togglePs('ps', $event)">PlayStation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#xbox" [ngClass]="{ 'active':activeTab==='xbox'}"
                            (click)="toggleXb('xbox', $event)">Xbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pc" [ngClass]="{ 'active':activeTab==='pc'}"
                            (click)="togglePc('pc', $event)">PC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#nintendo" [ngClass]="{ 'active':activeTab==='nintendo'}"
                            (click)="toggleN('nintendo', $event)">Nintendo</a>
                        </li>
                        </ul>

                <!-- Tab panes -->
                    <div class="tab-content admin-tab-content py0" *ngFor="let team of teams" >
                        <div role="tabpanel" class="tab-pane active show" id="all" [ngClass]="{ 'active':activeTab==='all'}" >
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            <a href="view-team/{{team.teamId}}" class="font600">{{team.teamName}}</a>
                                        </div>
                                        <div class="font400">
                                            Created By: <a href="user-profile/{{team.teamLeader}}" class="font600">{{team.teamLeader}}</a>
                                        </div>
                                        <span class="text-small">{{team.createdDate | date}}</span>
                                        <span class="text-small">{{team.teamName}}</span>
                                        <span class="text-small">Console : {{team.console}}</span>
                                        <span class="text-small">Team Size: {{team.teamSize}}</span>
                                        <span class="text-small">Team Members: {{team.teamMembers.length}}</span>
                                        <img src="{{team.background_image}}" alt="" class="img-thumbnail">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="ps" [ngClass]="{ 'active':activeTab==='ps'}" *ngIf="team.console=='Playstation'" >
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            Created By: <a href="user-profile/{{team.teamLeader}}" class="font600">{{team.teamLeader}}</a>
                                        </div>
                                        <span class="text-small">{{team.createdDate | date}}</span>
                                        <span class="text-small">{{team.teamName}}</span>
                                        <span class="text-small">Console : {{team.console}}</span>
                                        <span class="text-small">Team Size: {{team.teamSize}}</span>
                                        <span class="text-small">Team Members: {{team.teamMembers.length}}</span>
                                        <img src="{{team.background_image}}" alt="" class="img-thumbnail">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="xbox" [ngClass]="{ 'active':activeTab==='xbox'}" *ngIf="team.console=='Xbox'" >
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            Created By: <a href="user-profile/{{team.teamLeader}}" class="font600">{{team.teamLeader}}</a>
                                        </div>
                                        <span class="text-small">{{team.createdDate | date}}</span>
                                        <span class="text-small">{{team.teamName}}</span>
                                        <span class="text-small">Console : {{team.console}}</span>
                                        <span class="text-small">Team Size: {{team.teamSize}}</span>
                                        <span class="text-small">Team Members: {{team.teamMembers.length}}</span>
                                        <img src="{{team.background_image}}" alt="" class="img-thumbnail">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane active show" id="pc" [ngClass]="{ 'active':activeTab==='pc'}" *ngIf="team.console=='PC'" >
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            Created By: <a href="user-profile/{{team.teamLeader}}" class="font600">{{team.teamLeader}}</a>
                                        </div>
                                        <span class="text-small">{{team.createdDate | date}}</span>
                                        <span class="text-small">{{team.teamName}}</span>
                                        <span class="text-small">Console : {{team.console}}</span>
                                        <span class="text-small">Team Size: {{team.teamSize}}</span>
                                        <span class="text-small">Team Members: {{team.teamMembers.length}}</span>
                                        <img src="{{team.background_image}}" alt="" class="img-thumbnail">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane active show" id="nintendo" [ngClass]="{ 'active':activeTab==='nintendo'}" *ngIf="team.console=='Nintendo Switch'" >
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            Created By: <a href="user-profile/{{team.teamLeader}}" class="font600">{{team.teamLeader}}</a>
                                        </div>
                                        <span class="text-small">{{team.createdDate | date}}</span>
                                        <span class="text-small">{{team.teamName}}</span>
                                        <span class="text-small">Console : {{team.console}}</span>
                                        <span class="text-small">Team Size: {{team.teamSize}}</span>
                                        <span class="text-small">Team Members: {{team.teamMembers.length}}</span>
                                        <img src="{{team.background_image}}" alt="" class="img-thumbnail">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>