<div class="team" >
  <div style="color: black; font-weight:bold">Current Teams</div>
    <div class="container" *ngFor="let team of teams">
      <span class="game-info">
      <span class="game-text"><a class="teamurl" routerLink="">{{team.gameTitle}}</a></span>
      <span> . Team Created By <a class="username" routerLink="/user/{{team.teamLeader}}">{{team.teamLeader}}</a></span>
      <span> . {{team.duration}}</span>
      </span>
      <hr />
      <div class="team-title">
        <a class="teamname" href="{{team.url}}">{{team.teamName}}</a>
      </div>
        <div>
          <p class="team-text" [innerHtml]="team.description"></p>
        </div>
        <hr />
        <span>
        <a>TeamSize{{team.teamMembers.length}}</a>
        <a class="btnCommments" role="button">
          Comments({{team.commentCount}})
        </a>
        <button class="login" (click)="goToTeam(team.teamId)">
          Check out Team
        </button>
        <!-- <button class="joinTeam" (click)="joinTeam(team)"> -->
          <!-- Join Team
        </button> -->
        </span>
    </div>
  </div>

